@import url("./variables.css");

* {
    /* scroll-behavior: smooth; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    /* transition: 150ms all ease-in-out; */
  }
