:root {
    --white-title-color: #000;
    --white-accent-color: rgba(0,0,0, 0.6);
    --white-bg-semi: rgba(255,255,255,0.25);
    --white-separator-color: rgba(0,0,0,0.25);

    --dark-bg-wrapper: #171717;
    --dark-title-color: #fff;
    --dark-accent-color: rgba(255,255,255, 0.6);
    --dark-bg-semi: rgba(0,0,0,0.25);
    --dark-separator-color: rgba(255,255,255,0.25)
}

* {
    /* scroll-behavior: smooth; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* transition: 150ms all ease-in-out; */
  }


h1 {
    font-size: 32px;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

:is(h1,h2,h3,h4,h5,h6){
    text-align: center;
}

:is(p, i) {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.formatted-img,.formatted-iframe {
    border-radius: 5px;
    box-shadow: 0 0 10px #00000055;
}

.formatted-img:active, .formatted-img:hover {
    transform: scale(1.1);
}


.tracklist-album-wrapper li {
    margin: 0.25em 0;
}

.tracklist-album-wrapper p {
    font-style: italic;
}

:is(.tracklist-album-wrapper *, .review-album-wrapper *, .video-album-wrapper *, .more-album-wrapper *) {
    text-align: justify;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 36px;
        font-weight: 900;
    }
    
    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    
    h3 {
        font-size: 30px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 28px;
        font-weight: 600;
    }
    
    h5 {
        font-size: 24px;
        font-weight: 500;
    }
    
    h6 {
        font-size: 22px;
        font-weight: 500;
    }
    
    :is(h1,h2,h3,h4,h5,h6){
        text-align: center;
    }
    
    :is(p, i) {
        font-size: 20px;
        font-weight: 400;
        text-align: justify;
    }
    
    .formatted-img,.formatted-iframe {
        border-radius: 5px;
        box-shadow: 0 0 10px #00000055;
    }
    
    .formatted-img:active, .formatted-img:hover {
        transform: scale(1.1);
    }
    
    
    .tracklist-album-wrapper li {
        margin: 0.25em 0;
    }
    
    .tracklist-album-wrapper p {
        font-style: italic;
    }
    
    :is(.tracklist-album-wrapper *, .review-album-wrapper *, .video-album-wrapper *, .more-album-wrapper *) {
        text-align: justify;
        font-size: 20px;
    }
}