:root {
    --white-title-color: #000;
    --white-accent-color: rgba(0,0,0, 0.6);
    --white-bg-semi: rgba(255,255,255,0.25);
    --default-radius: 10px;
    --white-separator-color: rgba(0,0,0,0.25)
}