.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 1.25em;
}

.wrapper-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-start {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2em 1.25em;
}

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.image-wrapper img {
    margin: 0.25em;
}

.margin-half {
    margin: 0.5em;
}

/* .album-wrapper {
    margin: 5em 0;
} */