/* Reset CSS : Utilisé pour enlever tout css par défaut appliqué par les navigateurs
 Celui la est pas ouf mais pas grave on fait avec */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
    font: inherit;
    border: none;
}
