.navbar  {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 2px solid white;
}

.navbar nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  margin: 0 1.25em;
  justify-content: start;
  align-items: center;
  width: 100vw;
}

.navbar nav > ul:first-of-type {
  display: flex;
  gap: 10px;
}

.nav-element-list {
  position: fixed;
  bottom: 8%;
  background-color: black;
  border: 2px solid white;
  padding: 1em;
  pointer-events: none;
  z-index: 20;
  visibility: hidden;
}

.close-menu-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.nav-element-list:target+.close-menu-background {
  opacity: 1;
  pointer-events: all;
  /* background-color: var(--white-bg-semi); */
}

.nav-element-list:target {
  pointer-events: all;
  visibility: visible;
}

.navbar i {
  display: none;
}

.site-logo {
  padding: 1em;
}

.site-logo img {
  animation: rotate 5s infinite linear;
}

