@import url("../common/navbar.css");


.navbar a {
  color: white;
}

.navbar {
  bottom: 0;
  background-color: black;
  flex-direction: row-reverse;
}

.navbar-main-menu {
  flex-direction: row-reverse;
}

.navbar-display-label::before{
  content: "["
}

.navbar-display-label::after{
  content: "]"
}

.mobile-navbar-menu {
  visibility: hidden;
  gap: 2px;
  background-color: black;
  border: 1px solid white;
  align-items: start;
  padding: 0.5em;
  bottom: 6%;
  left: 0;
}

.mobile-navbar-menu:target {
  visibility: visible;
}