
.homepage-header {
    padding: 0 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

:is(.homepage-header hgroup *, .homepage-header h2) {
    text-align: center;
}

.homepage-header nav {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background-color: #171717;
}

.homepage-header nav h2 {
    text-align: start;
    width: 100%;
    padding: .5em;
}

.homepage-header a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-header ul {
    padding: 1em 0;
    border-top: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage-header img {
    margin: .25em;
    width: 125px;
    position: relative;
    z-index: 10;
}

.homepage-header img:active,.homepage-header img:hover {
    outline: 2px solid white;
    outline-offset: 2px;
}

.homepage-header .pc-only {
    display: none;
}


.homepage-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150vh;
    padding: 0 2em;
}

.homepage-article section {
    border: 2px solid white;
    background-color: #171717;
}

.homepage-article section h3 {
    padding: .5em;
}

.homepage-article section p {
    padding: 1em;
    border-top: 2px solid white;
}

.homepage-article ul {
    display: none;
}

.homepage-article p {
    text-align: justify;
}

.homepage-header hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {


    .pc-only {
        display: none;
    }

    .homepage-article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        height: 100vh;
    }

    .homepage-article h2 {
        flex: 1 0 100%;
        text-align: center;
    }

    .homepage-article section {
        margin: 2em 0;
        flex: 0 0 45%;
        min-height: 60%;
    }

    .homepage-article .mobile-only {
        display: none;
    }

    .homepage-header li {
      flex-basis: 50%;
    }

    .homepage-header nav {
        width: 55%;
    }

    .homepage-header ul {
      width: 100%;
    }

    .homepage-header img {
        width: 170px;
    }
}

@media (min-width: 768px) and (max-width: 1081px) and (orientation: landscape) {
    .homepage-header nav {
        width: 40%
    }
    .scroll-label{
        padding-bottom: 3em;
    }
    .homepage-header ul {
        width: 100%;
      } 


}


@media (min-width: 1200px) {

    .homepage-header hgroup {
        height: 15vh;
    }

    .homepage-article .mobile-only {
        display: none;
    }

    .homepage-article {
        align-content: center;
    }

    .homepage-header ul {
      padding: 2em 0;
    }

    .homepage-header img {
        width: 220px;
    }

    .homepage-article section {
        margin: 5em 0;
        flex: 0 0 40%
    }

    .homepage-header nav {
        width: 55%;
        scale: 0.9;
    }

    .homepage-header li {
        flex-basis: 21%;
      }

    .pc-only {
        display: unset;
    }
}