* {
  padding: 0;margin:0
}

.album-main-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.album-main-infos hgroup{
  text-align: center;
}

.album-main-infos section {
  padding: 0 2em;
}

.album-review {
  padding: 0 2em;
}

.album-review section {
  margin: 2em 0;
}