@import url("./pages/dynamic/index.css");
@import url("./pages/dynamic/fastnav.css");

/* COMPONENT IMPORT */
@import url("./components/dynamic/navbar.css");
@import url("./components/dynamic/footer.css");

* {
    scroll-behavior: smooth;
    transition: 150ms all ease-in-out;
    font-family: "Poppins";
}


:is(p, i) {
    font-weight: 400;
    color: var(--white-accent-color);
}

:is(h1, h2, h3, h4, h5, h6),
.title {
    color: var(--white-title-color);
}

/* BODY STYLING */

.homepage{
    background: linear-gradient(
      180deg,
      rgba(42, 0, 114, 0.3) 0%,
      rgba(114, 0, 97, 0.3) 100%
    );
  }

.fastnav {
    background: linear-gradient(
      180deg,
      rgba(154, 199, 110, 0.3) 0%,
      rgba(159, 185, 42, 0.3) 100%
    );
}