/* COMPONENT IMPORT */
@import url("./components/mono/navbar.css");
@import url("./components/mono/footer.css");

@import url("./pages/mono/index.css");
@import url("./pages/mono/contact.css");
@import url("./pages/mono/navigation.css");
@import url("./pages/mono/album.css");


* {
    font-family: "Azeret Mono";
}


:is(p, i) {
    color: var(--dark-accent-color);
}

:is(h1, h2, h3, h4, h5, h6),
.title {
    color: var(--dark-title-color);
}

body {
    background-color: black;
}

:is(a:hover,a:active){
    color:white;
    text-decoration: underline;
}