@import url("/assets/css/variables.css");

:is(p, i) {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-accent-color);
}

:is(h1, h2, h3, h4, h5, h6),
.title {
    color: var(--white-title-color);
}

:is(h1) {
    font-weight: 800;
    font-size: 22px;
}

:is(h3) {
    font-weight: 600;
    font-size: 18px;
}

:is(i) {
    position: relative;
    z-index: -1;
  }

  /* BODY STYLING */

.homepage{
    background: linear-gradient(
      180deg,
      rgba(42, 0, 114, 0.3) 0%,
      rgba(114, 0, 97, 0.3) 100%
    );
  }

.fastnav {
    background: linear-gradient(
      180deg,
      rgba(154, 199, 110, 0.3) 0%,
      rgba(159, 185, 42, 0.3) 100%
    );
}