.album-main-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }

  .albumpage .pconly {
    display: none;
  }
  
  .album-main-infos hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .album-main-infos img {
    border-radius: 10px;
  }
  
  .album-main-infos section {
    padding: 0 2em;
  }
  
  .album-review {
    padding: 0 2em;
  }
  
  .album-review section {
    margin: 2em 0;
  }

  .album-review h4, .album-review h5 {
    text-align: start;
    font-size: 15px;
  }

  .album-review iframe {
    width: 100%;
    height: 200px;
  }

  @media (min-width: 768px) {
    .album-review h4, .album-review h5 {
        font-size: 17px;
      }
      .album-review iframe {
        width: 100%;
        height: 500px;
      }
  }

  @media (min-width: 768px) and (max-width: 1081px) and (orientation: landscape) {
    .album-main-infos {
        padding: 3em 0;
    }

    .album-review h4, .album-review h5 {
        font-size: 21px;
      }

    .albumpage main {
        width: 70vw;
        margin: 0 auto;
    }

    .album-review iframe {
        width: 100%;
        height: 500px;
      }

  }

  @media (min-width: 1200px) {
    .album-review h4, .album-review h5 {
        font-size: 21px;
      }

      .albumpage .pconly {
        display: unset
      }

      .foreground-image {
        border-radius: 15px;
        position: fixed;
        top: 5vw;
        left: -5%;
        width: 40vw;
        height: 40vw;
        transition: transform 500ms ease-in-out;
      }

      .foreground-image:hover {
        transform: translateX(10em)
      }

      .album-main-infos {
        justify-content: space-evenly;
      }

      .album-main-infos img {
        display: none;
      }

      :is(.album-main-infos, .album-review) {
        width: 50vw;
        margin-right: 2em;
        margin-left: auto;
      }
  }
