
/* HEADER<MAIN> */

.wrapper {
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .greeting-header {
    height: 100vh;
  }
  
  .greeting-header hgroup {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .greeting-header P {
    font-style: italic;
    display: flex;
    flex-direction: column;
  }
  
  .greeting-header nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .greeting-header * {
    text-align: center;
  }
  
  .greeting-header h1 {
    font-size: 24px;
  }
  
  .greeting-header ul {
    display: flex;
  }
  
  .greeting-header li {
    margin: 0.5em;
  }
  
  .greeting-header i {
    opacity: 0.5;
  }
  
  .nav-cover-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .nav-cover-list img:active {
    transform: scale(1.1);
  }
  
  
  
  /* ARTICLE#ABOUT<MAIN> */
  
  #about {
    background-color: var(--white-bg-semi);
    height: 100vh;
    padding: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #about h1 {
    text-align: center;
    margin: 20px 0;
  }
  #about h2 {
    margin: 1em 0;
  }
  
  .ul-separator  {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
  
  
  .footer-white-tint {
    background-color: var(--white-bg-semi);
  }
  
  footer section {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer p {
    text-align: center;
  }
  
  footer * {
    font-size: 14px;
    font-weight: normal;
  }
  
  footer h2 {
    text-align: center;
    margin: 10px 0;
    font-style: italic;
  }
  
  :is(footer h3, footer h4)
  {
    color: var(--white-accent-color)
  }
  
  
  .anchor-top {
    padding: 4px;
  }
  
  footer h3 {
    text-align: center;
  }
  
  footer ul {
    margin: 12px 0;
    display: flex;
    justify-content: space-around;
  }
  
  footer ul a {
    margin: 0 12px;
  }
  
  footer .copyright-content{
    margin: 6px 0;
  }
  
  