/* HEADER<MAIN> */

.greeting-wrapper * {
  text-align: center;
}

.greeting-wrapper {
  height: 100vh;
}

.greeting-wrapper hgroup {
  height: 70vh;
}

.greeting-wrapper p {
  font-style: italic;
}


/* ARTICLE#ABOUT<MAIN> */

#about {
  background-color: var(--white-bg-semi);
}

#about h2 {
  text-align: center;
  margin: 20px 0;
}

#about h2 {
  margin: 1em 0;
}

.ul-separator {
  display: flex;
  justify-content: space-around;
  width: 25%;
}