@import url("../common/navbar.css");


.mono-only {
  display: none;
}

.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}


.navbar-main-menu li {
  padding: .25em .75em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.navbar-main-menu li:hover, .active-page {
  background-color: rgba(255, 255, 255, 0.5);
}

.mobile-navbar-menu {
  transition: 150ms all ease-in-out;
  transition-delay: 100ms;
  top: 100%;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(8px);
  transform: translateX(50vw);
}

.mobile-navbar-menu:target {
  transform: translateX(0);
}

.mobile-navbar-menu li {
  width: 100%;
  padding: .75em .25em;
}

.mobile-navbar-menu li:not(:first-child) {
  border-top: 1px solid black;
}
